<div class="container mt-5">
    <div style="text-align: center" *ngIf="!registerMode">
        <h1>Find your match</h1>
        <p class="lead">Come on into view your matches... All you need to do is sign up!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary mr-1">Register</button>
            <button class="btn btn-info">Learn more</button>
        </div>
    </div>
    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <!-- Khoi tao gia tri cho valueFromHome tu view, lay du lieu values tu component cua home -->
                <!-- cancelRegister lang nghe thay doi tu registerComponent -->
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>